@page
@model Moment1._2.AboutModel
@{
    ViewData["Title"] = "Om Sidan";
    ViewData["currentAbout"] = "current";
}

<div>
    <h1>Om Sidan</h1>
    <p>
        Jag som skapat webbplatsen heter Emma Norgren och är en 23-årig tjej från Sundsvall.
        Just nu studerar jag Webbutveckling på distans via Mittuniversitetet och är inne på sista terminen av fyra.
        Sedan tidigare har jag även en examen i Grafisk design.
    </p>
</div>

