@page
@model Moment1._2.IndexModel
@{
    ViewData["Title"] = "Start";
    ViewData["currentStart"] = "current";
}

<div>
    <h1>Välkommen!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum lacinia sagittis. Duis feugiat libero vestibulum felis bibendum sodales at non ligula. Praesent sapien leo, ornare in malesuada vel, maximus eu sapien. Nulla lobortis hendrerit dapibus. Nulla sed nisl quis lorem tristique facilisis. Nam efficitur iaculis efficitur. Duis varius libero et ornare suscipit. Pellentesque lacus mauris, tristique sed laoreet vitae, sollicitudin eget sapien.
        Nunc ut ex nec elit sagittis vehicula sed eget nibh. Donec aliquet posuere molestie. Nunc at scelerisque tellus, quis tempus arcu. Sed non leo tincidunt, interdum erat eu, consequat odio. Donec a libero hendrerit, posuere elit at, pellentesque felis. Ut et libero non mauris sollicitudin rutrum. Aliquam at malesuada leo. Aliquam sit amet risus risus. Vestibulum molestie velit nisl, ut porttitor neque ultrices in. Aliquam quis ornare erat. Phasellus vehicula tortor dolor, at posuere arcu dapibus a. Phasellus gravida nisl lectus, sed fermentum dui pharetra quis. Nam suscipit metus vitae est molestie, ac egestas mauris imperdiet. Donec eu massa varius, lobortis augue sit amet, vehicula ipsum. Duis eget libero eu ex auctor sollicitudin ac volutpat velit. Duis dictum lacinia tortor, eu elementum elit. Nam non diam tortor.
    </p>
</div>

